html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

img {
    display: block;
    max-width: 100%;
}


h1, h2, h3, h4, h5, p {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
}

:root {
    --accent-color: #F7654A;
    --dark-color: #404149;
    --gray-color: #999999;
    --white-color: #FFFFFF;
    --background-color: #e5e5e5;
}

.text-h2 {
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
    font-size: 36px;
    text-transform: uppercase;
}

.text-h3 {
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
    font-size: 24px;
    text-transform: uppercase;
}

.text-h4 {
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
    font-size: 21px;
    text-transform: uppercase;
}

.text-p {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 22px;
}

.text-p-previews {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    line-height: 21px;
}

.container {
    margin: 0 auto;
    max-width: 1110px;
}

.header {
    min-height: 740px;
    background-image: url("../img/Rectangle.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 35px;
}

.header_title {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin-bottom: 112px;
    padding-top: 20px;
}

.logo {
    width: 60px;
    height: 60px;
}

.burger {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border: none;
    cursor: pointer;
    background-color: var(--accent-color);
}

.burger_line {
    display: block;
    margin-bottom: 4px;
    width: 21px;
    height: 3px;
    background-color: white;
}

.burger_line:last-child {
    margin: 0;
}

.h1 {
    margin: 0 auto 17px;
    max-width: 734px;
    font-weight: 500;
    font-size: 64px;
    line-height: 96px;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #F7F7F7;
}

.h4 {
    margin: 0 auto;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    text-align: center;
    text-transform: uppercase;
    color: var(--white-color);
}

.about {
    min-height: 1080px;
    position: relative;
    padding-top: 250px;
}

.info {
    position: absolute;
    top: -150px;
    left: 50%;
    max-width: 1110px;
    max-height: 300px;
    transform: translateX(-50%);
    width: 100%;
    min-height: 300px;
    padding: 57px 130px;
    color: #F7F7F7;
    background-color: var(--white-color);
}

.about_grid {
    position: absolute;
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 30px;
}

.about_grid-item {
    text-align: center;
    width: 190px;
}

.about_h4 {
    margin-bottom: 4px;
    font-weight: 500;
    font-size: 72px;
    line-height: 107px;
    text-align: center;
    text-transform: uppercase;
    color: var(--accent-color);
}

.about_h5 {
    font-weight: 500;
    font-size: 36px;
    line-height: 53px;
    text-align: center;
    text-transform: uppercase;
    color: var(--dark-color);
}

.about_p {
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    text-align: center;
    color: var(--gray-color);
}

@media screen and (max-width: 1280px) {
    .about_grid {
        position: inherit;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }
}

@media screen and (max-width: 768px) {
    .about_grid {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, 1fr);
    }
}

.section-h2 {
    text-align: center;
}

.about_project {
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 30px;
    margin-top: 50px;

}

.project_item {

}

.project_image {
    margin-bottom: 45px;
}

.line {
    width: 55px;
    height: 6px;
    margin-bottom: 15px;
    background-color: #F7654A;
}

.project_h3 {
    margin-bottom: 13px;
    text-transform: none;
    color: var(--dark-color);
}

.project_p {
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: var(--gray-color);
}

@media screen and (max-width: 1280px) {
    .about {
        padding: 450px 15px 30px;
    }
}

@media screen and (max-width: 768px) {
    .about {
        padding: 840px 15px 30px;
    }
}

.request {
    background-color: var(--accent-color);
    margin-bottom: 50px;
}

.request_content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0 45px;
}

.text_block {
    color: var(--white-color);
}

.request_title {
    font-weight: 700;
    font-size: 48px;
    line-height: 71px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
}

.request_text {
    margin-top: 7px;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
}

.request_button {
    display: flex;
    align-items: center;
    margin-top: 20px;
    margin-right: 3px;
    padding: 14px 30px;
    border: none;
    background-color: #F7F7F7;
    font-family: 'Oswald', sans-serif;
    font-style: normal;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
}

.request_image {
    margin-right: 15px;
}

@media screen and (max-width: 1280px) {
    .request_content {
        padding: 15px 15px;
    }
}

@media screen and (max-width: 768px) {
    .request_content {
        flex-wrap: wrap;
    }
}

.services {
    padding-top: 92px;
}

.services_content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 30px;
    grid-template-rows: repeat(2, 1fr);
    grid-row-gap: 42px;
    margin-top: 66px;
    margin-bottom: 150px;
}

.services_item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 53px 85px;
    width: 350px;
    background-color: #e5e5e5;
    font-family: 'Oswald', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 21px;
    line-height: 31px;
    letter-spacing: 0.02em;
}

.services_item_image {
    margin: 0 auto 20px;
}

.services_h4 {
    margin: 0 auto;
    line-height: 31px;
    letter-spacing: 0.02em;
}

@media screen and (max-width: 1280px) {
    .services {
        padding: 0 20px;
    }

    .services_content {
        grid-template-columns: repeat(2, 1fr);
    }

    .services_item {
        width: 100%;
    }
}

@media screen and (max-width: 768px) {
    .services {
        padding: 0 20px;
    }

    .services_content {
        grid-template-columns: repeat(1, 1fr);
    }

    .services_item {
        width: 100%;
    }
}

.portfolio_content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    grid-column-gap: 0;
}

@media screen and (max-width: 1280px) {
    .portfolio_content {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 768px) {
    .portfolio_content {
        grid-template-columns: repeat(1, 1fr);
    }
}

.question {
    padding: 157px 0;
}

.question .section-h2 {
    margin-bottom: 50px;
}

.question_items {

}

.question_item {
    margin-bottom: 30px;
}

.open {
    margin-bottom: 20px;
}

.question_item_h3 {
    text-transform: uppercase;
    color: #F7654A;
}

.question_item_p {
    max-width: 730px;
    margin-bottom: 40px;
    color: #999999;
}

.question_item_h3.close::before,
.question_item_h3.open::before {
    content: '';
    display: inline-block;
    width: 15px;
    height: 15px;
    background-image: url('../img/Polygon.svg');
    background-repeat: no-repeat;
    background-position: center;
    margin-right: 8px;
}

.question_item_h3.open::before {
    transform: rotate(-90deg);
}

.question_item_h3.close + .question_item_p {
  display: none;
}

@media screen and (max-width: 1280px) {
    .question {
        padding: 150px 15px;
    }
}
